/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.test {
    background-color: red;
    border: 2px solid black;
}

/* TYPO STYLES */
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 10px;
}

h1, h3, h4, h6 {
    font-weight: 700;
}

h1 {
    font-size: 12em;
}

h3 {
    font-size: 6em;
}

h4 {
    font-size: 4em;
}

h6 {
    font-size: 3em;
}

p {
    font-size: 2.2em;
}

a {
    color: black;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.fsz10 {
    font-size: 1em;
}
.fsz15 {
    font-size: 1.5em;
}

.fsz18 {
    font-size: 1.8em;
}

.fsz20 {
    font-size: 2em;
}

.fsz23 {
    font-size: 2.3em;
}

.lh35px {
    line-height: 35px;
}

.white_text {
    color: white;
}

.azure_text {
    color: #0161ff;
}
.purple_text {
    color: #61082b;
}

.gray_text {
    color: gray;
}
.al_center {
    text-align: center;
}

.al_right {
    text-align: right;
}

.underline {
    text-decoration: underline;
}

/* UTILITIES */
    /* miscellanea */

    .central_column {
        width: 30%;
        margin: 0 5%;
    }

    .bottom_gray_border {
        border-bottom: 1px solid gray;
    }

    .hidden {
        overflow: hidden;
    }

    /* buttons */
    .btn {
        padding: 5px 20px;
        font-size: 2.2em;
        text-align: center;
    }

    .blue_bg {
        background-color: #0061ff;
    }

    .blue_bg a {
        color: white;
    }

    .outline {
        outline: 1px solid black;
        color: black;
    }

    .bd2px {
        border: 2px solid black;
    }

    /* positioning */
    .centered {
        margin: 0 auto;
    }

    .v_middle {
        vertical-align: middle;
    }

    .absolute_center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    /* floating */

    .clearfix::after {
        content: '';
        display: table;
        clear: both;
    }
    .left {
        float: left;
    }
    .right {
        float: right;
    }

    /* padding */
    .ptop20px {
        padding-top: 20px;
    }

    .ptop30px {
        padding-top: 30px;
    }

    .ptop50px {
        padding-top: 50px;
    }

    .ptop150px {
        padding-top: 150px;
    }

    .px10px {
        padding-left: 10px;
        padding-right: 10px;
    }

    .px20px {
        padding-left: 20px;
        padding-right: 20px;
    }

    .py20px {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .py80px {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .py150px {
        padding-top: 150px;
        padding-bottom: 150px;
    }

    .pl20px {
        padding-left: 20px;
    }

    .pr50px {
        padding-right: 50px;
    }

    .pl10px {
        padding-left: 10px;
    }

    header a i {
        padding-left: 5px;
        transform: translateY(-5px);
    }

    .pb20px {
        padding-bottom: 20px;
    }

    .pb80px {
        padding-bottom: 80px;
    }

    .pb100px {
        padding-bottom: 100px;
    }

    .pxy80px {
        padding: 80px;
    }

    .pxy150px {
        padding: 150px;
    }

    /* margin */
    .mx20px {
        margin-left: 20px;
        margin-right: 20px;
    }
    .mtop10px {
        margin-top: 10px;
    }

    .mtop30px {
        margin-top: 30px;
    }

    .mtop50px {
        margin-top: 50px;
    }

    .my30px {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .my50px {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .mb30px {
        margin-bottom: 30px;
    }
    .mb50px {
        margin-bottom: 50px;
    }

    .mb100px {
        margin-bottom: 100px;
    }

    /* widths */

    .w8 {
        width: 8%;
    }
    .w10 {
        width: 10%;
    }
    .w15 {
        width: 15%;
    }
    .w20 {
        width: 20%;
    }
    .w25 {
        width: 25%;
    }
    .w30 {
        width: 30%;
    }
    .w40 {
        width: 40%;
    }
    .w50 {
        width: 50%;
    }
    .w60 {
        width: 60%;
    }
    .w70 {
        width: 70%;
    }
    .w75 {
        width: 75%;
    }
    .w80 {
        width: 80%;
        max-width: 2030px;
    }
    .w90 {
        width: 90%;
    }
    .w100 {
        width: 100%;
    }
    .h100 {
        height: 100%;
    }

    /* background */

    .bg_black {
        background-color: black;
    }
    .bg_light {
    background-color: #b4d0e7;
    }

    .bg_green {
        background-color: #a2d39b;
    }

    .bg_brown {
        background-color: #61082b;
    }

    .bg_lt_blue {
        background-color: #0093ce;
    }

    .bg_red_1 {
        background-color: #ff1c1c;
    }

    .bg_red_2 {
        background-color: #d5001f;
    }

    .bg_lt_grey {
        background-color: #f5f5f5;
    }

    .bg_lt_azure {
        background-color: #b4d0e7;
    }

    .bg_dark_blue {
        background-color: #0d2481;
    }

    .bg_yellow {
        background-color: #ffd830;
    }

    .bg_white {
        background-color: white;
    }

/* STYLING */

/* GENERAL */

span {
    display: inline-block;
    font-size: 1.5em;
}

ul li {
    font-weight: 600;
    vertical-align: middle;
    display: inline-block;
}

/* HEADER */
header {
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

header .brand img {
    display: inline-block;
    width: 150px;
}

header nav.left {
    width: calc(100% - 150px);
}

.hdr_link {
    font-size: 1.8em;
    border-bottom: 3px solid transparent;
    position: relative;
}

.hdr_link:hover{
    border-color: #081753;
}

.drop_nav {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: white;
    width: 100%;
    line-height: 80px;
    text-align: center;
}

.drop_nav li {
    display: block;
}

.dropped_link {
    padding-left: 5px;
    width: 100%;
    height: 100%;
    border-bottom: 3px solid transparent;
}

.drop_nav li:hover .dropped_link{
    border-color: #081753;
}

.hdr_link:hover .drop_nav {
    display: block;
    top: 83px;
}


/* JUMBO */

#why {
    margin-top: 80px;
}

#why .container > div p {
    padding-right: 180px;
    padding-top: 110px;
}

#why .container > div img {
    width: 100%;
    position: relative;
    top: 110px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.3));
}

#why i {
    font-size: 4em;
    padding-top: 90px;
}

/* PIANI */

#plans form input {
    margin-right: 2px;
}

#plans form label {
    margin-right: 15px;
}

.col_head {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid black;
}

.column {
    height: 1400px;
}

.column li, footer li {
    margin-top: 20px;
    font-size: 2em;
}

ul.points li i {
    color: #0161ff;
    filter: drop-shadow(0 0 1px #478eff);
}

.enterprise_head > a.btn {
    transform: translateY(8px);
}

/* PARTNER */
#partner > div > div.w40 {
    padding-left: 50px;
    line-height: 45px;
}

/* FUNCTIONS */
.card {
    width: calc(100% / 3);
}

#functions > div.centered > div h3 {
    padding-right: 42%;
}

/* CUSTOMERS */

#customers {
    height: 762px;
}

#customers > div {
    height: 100%;
}

.customers_brands {
    width: 50%;
    height: 50%;
    border: 15px solid transparent;
    position: relative;
}

.customers_brands > img {
    filter: invert(1);
}

.customers_brands:hover {
    border-color: rgba(255, 255, 255, 0.5);
}


/* FAQ */
.fa_question {
    height: 112px;
    transition: height .4s ease-in-out;
}


.fa_question:hover {
    height: 320px;
}

.fa_question:hover i {
    transform: rotate(180deg);
}
/* FOOTER */

footer ul li {
    list-style-type: none;
    display: block;
}

footer ul li:hover {
    text-decoration: underline;
}

.border_top_white {
    border-top: 1px solid white;
}

.footer_language .fa-sort-up {
    transform: translateY(5px);
}